{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <script src="{{ asset('js/table.js') }}"></script>
    <div class="container mt-5" >
        <div>
            <form>
                <div  class="d-inline-block">
                    <label for="selectRegion">Region:</label>
                    <select id="selectRegion" class="custom-select">
                        <option value="EN">England</option>
                        <option value="FR">France</option>
                        <option value="RU">Russia</option>
                    </select>
                </div>
                <div class="d-inline-block ms-5">
                    <label for="sliderRange">
                        Errors:
                    </label>
                    <input type="range" min="1" max="10" value="0" step="0.5" class="myslider" id="sliderRange">
                </div>
                <div class="d-inline-block ms-3">
                    <label for="errorsNumber"></label><input id="errorsNumber" type="number" class="w-25" min="0" max="1000" step="1" value="0">
                </div>
                <div class="d-inline-block ms-5">
                    <label for="sliderSeedRange">
                        Seed:
                    </label>
                    <input type="range" min="1" max="1000" value="0" step="1" class="myslider" id="sliderSeedRange">
                </div>
            </form>
        </div>
        <div class="container mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">UUID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                </tr>
          </thead>
                <tbody id="tbody" class="response">
{#                {% for data in generatedData %}#}
{#                    <tr>#}
{#                        <td>{{ data.id }}</td>#}
{#                        <td>{{ data.uuid }}</td>#}
{#                        <td>{{ data.name }}</td>#}
{#                        <td>{{ data.address }}</td>#}
{#                        <td>{{ data.phoneNumber }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

